.main {
 text-align: center;
}

h1, h2, h3 {
  font-family: sans-serif;
}

h2, h3 {
  font-style: italic;
}

p, #result {
  font-weight: bold;
  font-family: sans-serif;
  font-style: italic;
}

#overallStats {
  /*border: 2px dashed green;*/
  display: none;
}

#headsStats {
  /*border: 2px dashed red;*/
  display: inline-block;
  width: auto;
}

#tailsStats {
  /*border: 2px dashed blue;*/
  display: inline-block;
  width: auto;
}
